@tailwind base;
@tailwind components;
@tailwind utilities;

@theme {
  --breakpoint-5xl: 1920px;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.swiper-wrapper {
  transform: none !important; /* Disable translate3d */
  transition: none !important; /* Disable transitions */
}
